$primary-light: #3da639;
$primary-dark: #1e531d;
$secondary: #163E3E;
$tertiary: #682424;
$quaternary: #684324;
$grey-dark: #191919;
$grey-lighter: #e7eaee;
$header-bg: #e3e4e3;
$header-shadow: #b8bbbe;

$body-fg: $grey-dark;
$body-bg: $grey-lighter;

$font-default: 'Quicksand', 'Helvetica Neue', helvetica, arial, sans-serif;
$font-logo: 'Permanent Marker', $font-default;
