@import './helpers';
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Quicksand');

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: url('/assets/bg.png') center repeat $body-bg;
	background-size: 150px 150px;
	font: 16px/1.5 $font-default;
	font-weight: 400;
	color: $body-fg;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}
